    
    
    <div>  
    <div class="row panel panel-info">
		    <div class="row panel-heading">
	        	<div class="col-sm-12">Configuraci&oacute;n:</div>
	        </div>
	        <div class="panel-body">
			 	<div class="row">
				 		<div class="col-sm-2">Target:</div>
				 		<div class="col-sm-10">{{info.target}}</div>
				 </div>		
				 <div class="row">		
			        	<div class="col-sm-2">Peticiones </div>
			        	<div class="col-sm-10">{{info.request}}</div>
				 </div>		
				 <div class="row">		        	
			        	<div class="col-sm-2">Media de ejecuci&oacute;n: </div>
			        	<div class="col-sm-10">{{mediaEjecucion}} (msg)</div>
				 </div>		
				 <div class="row">		        	
			        	<div class="col-sm-2">N&uacute;mero errores  de ejecuci&oacute;n:</div>
			        	<div class="col-sm-10">{{info.errors}}</div>
		        </div>	
	        </div>
	</div>	        
        	<div class="row panel panel-info">
        	
	        	<div class="row panel-heading">
		        	<div class="col-sm-12">Comportamiento:</div>
		        </div>	
		        <div class="panel-body">
		        	<form class="form-vertical" role="form">
		        	
		        		<div class="row">
		        			<div  class="col-sm-2">
				        		<label for="info.errorThreshold">Porcentaje error (%)</label>
							</div>
							<div class="col-sm-2" >				        		
				        		<input type="text" id="info.errorThreshold2" class="form-control" 
				        			ng-model="info.errorThreshold"  ng-change="setErrorThreshold()" ng-model-options="{updateOn: 'blur'}"/>
				        	</div>
				        	<div class="col-sm-6" ></div>		
			        	</div>
						
			        	<div class="row form-group">
			        		<div  class="col-sm-2">
				        		<label for="info.delay">Delay (msg)</label>
				        	</div>
				        	<div  class="col-sm-2">
			        			<input type="text" id="info.delay"class="form-control"  
			        				ng-model="info.delay"  ng-change="setDelay()" ng-model-options="{updateOn: 'blur'}"/>
			        		</div> 
			        		<div class="col-sm-6" ></div>		
			        	</div>

		        	</form>
		        </div>	
			</div>
     </div>  
